@import "tailwindcss";
@plugin './hero.ts';
@plugin "tailwind-scrollbar";
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(var(--heroui-background));
  --foreground: hsl(var(--heroui-foreground));
  --font-geist-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-geist-mono: 'Geist Mono', 'Fira Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  color: hsl(var(--heroui-foreground));
  background: hsl(var(--heroui-background));
  font-family: var(--font-geist-sans);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .scrollbar-hide-track {
        &::-webkit-scrollbar {
            width: 4px;
            background: transparent;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-track-piece,
        &::-webkit-scrollbar-button {  /* 添加这个来隐藏上下箭头 */
            background: transparent;
            border: none;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background: #999;
            border-radius: 4px;
            border: none;
            background-clip: content-box;
        }

        /* Firefox */
        scrollbar-color: #999 transparent;
        scrollbar-width: thin;
    }
}
